<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/{{.Locale}}/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1>Sign in</h1>

    <div class="row">
      <div class="col-md-10">
        <button id="btnFbSignin" class="btn btn-default" type="button">Facebook</button>
        <p id="welcome"></p>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: {{.AppId}},
        xfbml: true,
        version: 'v2.5'
      })
    }

    $(document).ready(function() {
      $("#btnFbSignin").click(function(){
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
              $("#welcome").html('Good to see you, ' + response.name + '.');
            });
          } else {
            console.log('User cancelled login or did not fully authorize.');
          }
        });
      })
    });
    </script>
  </body>
</html>
